@import url('https://fonts.googleapis.com/css?family=Abel|Anton');

html,
body {
    background-color: rgb(236, 236, 236);
}


.whitestrip {
    height: 3em;
    margin-top: 27px;

}

.paperstacklogo {
    height: 105px;
    width: 105px;
    position: relative;
    bottom: 89px
}

.codeupdes {
    position: relative;
    bottom: 67px;
}



.circularbutton {
    width: 150px;
    background-color: red;
    border: 8px solid white;
    border-radius: 50%;
    height: 150px;
    color: white;
    margin: 10px;
}

.designbutton {
    background-color: rgb(222, 63, 45)
}

.developbutton {
    background-color: rgb(224, 141, 21)
}

.navbarxs {
    color: black;
    position: relative;
    bottom: 55px;
}

.navbarxs:visited {
    color: blue;
}

/*  navbar for sm */



.navbarsm {
    position: relative;
    bottom: 41px;
}


.selectedwork {
    margin-top: 75px;
    margin-bottom: 50px;
}

.smallbuttons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.blockimgs {
    border: 5px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 10px;
}

.beneathimgs {
    margin-left: 5px;
    margin-right: 5px
}

.containerdashbutton {
    justify-content: center;
}

.featured {
    padding: 0;
}



.blendin {
    color: rgb(236, 236, 236);
}

.sideimg1 {
    height: 42px;
    width: 37px;
}

.sideimg3 {
    height: 42px;
    width: 37px;
}


.alt-featured {
    font-size: 10px;
}

.twitterimg {
    height: 30px;
    width: 30px;
}

@media screen and (min-width:576px) {
    .paperstacklogo {
        bottom: 113px;
    }
    .worknav {
        margin-left: 20px;
    }

    .codeupdes {
        bottom: 91px;
    }

    .visual-design-text {
        position: relative;
        bottom: 40px;
    }

    .circularbutton {
        height: 125px;
        width: 125px;
    }

    .alt-featured {
        font-size: 10px;
    }


    .bottomline {
        border-bottom: 1px solid rgb(193, 193, 193);
    }

    .frompark {
        position: relative;
        bottom: 40px;
    }

    .smbtnpadding {
        padding-left: 0;
    }

    .featured p {
        font-size: 10px;
    }

    .smallbuttons {
        height: 20px;
        width: 20px;
        padding: 1px;
        font-size: 10px;
    }
}




@media screen and (min-width:768px) {
    .paperstacklogo {
        bottom: 89px;
        right: 355px;
    }

    .codeupdes {
        bottom: 165px;
        right: 170px;
        font-size: 2.0rem;
    }

    .circularbutton {
        height: 100px;
        width: 100px;
    }

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .visual-design-text {
        position: relative;
        bottom: 50px;
        font-size: 3.5rem;
    }

    .frompark {
        font-size: 42px;
    }

    .lastweet {
        margin: none;
    }

    .navbarxs {
        position: relative;
        bottom: 100px;
    }

    li::before {
        display:inline-block;
        content: '';
        height:0.75rem;
        width:0.75rem;
        margin-right:0.5rem;
    }

/*    li.sideimg1 {
        list-style-image: url("../assets/images/head.jpg");
    }*/

}

.font-anton {
    font-family: 'Anton', sans-serif;
}



.margin-title {
    margin-bottom: 50px;
}

.smbtnpadding {
    padding-left: 0;
}
/* End navbar for sm */


/*  Imported font-family) */

@media screen and (min-width:992px) {

    html,
    body {

    }

    .sidelinks {
        font-size: 20px;
    }

    .sideimg1 {
        height: 50px;
        width: 50px;
    }

    .sideimg3 {
        height: 50px;
        width: 50px;
    }

    .twitterimg {
        margin-top: 50px;
    }

    .lastweet {
        margin-top: 50px;
    }


}

@media screen and (min-width:1200px) {

    .sidelinks {
        font-size: 25px;
    }

    .sideimg1 {
        top: 4px;
        height: 55px;
        width: 55px;
    }

    .sideimg3 {
        position: relative;
        top: 25px;
        height: 55px;
        width: 55px;
    }

    .twitterimg {
        margin-top: 100px;
    }

    .lastweet {
        margin-top: 100px;
    }


}