@import url('https://fonts.googleapis.com/css?family=Abel|Anton');

html,
body {
    background-color: rgb(236, 236, 236);
}


.whitestrip {
    height: 3em;
    margin-top: 27px;

}

.paperstacklogo {
    height: 105px;
    width: 105px;
    position: relative;
    bottom: 89px
}

.codeupdes {
    position: relative;
    bottom: 67px;
}



.circularbutton {
    width: 150px;
    background-color: red;
    border: 10px solid white;
    border-radius: 50%;
    height: 150px;
    color: white;
    margin: 10px;
}


.navbarxs {
    color: black;
    position: relative;
    bottom: 55px;
}

.navbarxs:visited {
    color: blue;
}

/*  navbar for sm */



.navbarsm {
    position: relative;
    bottom: 41px;
}


.selectedwork {
    margin-top: 75px;
    margin-bottom: 50px;
}

.smallbuttons {
    width: 30px;
    height: 30px;
    background-color: lightcyan;
    border-radius: 50%;
}

.blockimgs {
    border: 5px solid lightgrey;
    border-radius: 15px;
    margin-bottom: 10px;
}

.beneathimgs {
    margin-left: 5px;
    margin-right: 5px
}

.containerdashbutton {
    justify-content: center;
}

.featured {
    padding: 0;
}

.blendin {
    color: rgb(236, 236, 236);
}

.sideimg1 {
    height: 30px;
    width: 30px;
}


.twitterimg {
    height: 50px;
    width: 50px;
}

@media screen and (min-width:576px) {
    .paperstacklogo {
        bottom: 113px;
    }
    .worknav {
        margin-left: 20px;
    }

    .codeupdes {
        bottom: 91px;
    }

    .visual-design-text {
        position: relative;
        bottom: 40px;
    }

    .circularbutton {
        height: 125px;
        width: 125px;
    }


    .bottomline {
        border-bottom: 1px solid black;
    }

    .frompark {
        position: relative;
        bottom: 40px;
    }

    .smallbuttons {
    }

}




@media screen and (min-width:768px) {
    .paperstacklogo {
        bottom: 89px;
    }

    .codeupdes {
        bottom: 67px;
    }

    .circularbutton {
        height: 100px;
        width: 100px;
    }

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }





    li::before {
        display:inline-block;
        content: '';
        height:0.75rem;
        width:0.75rem;
        margin-right:0.5rem;
        bacground-color: #bdbdbd;
    }

/*    li.sideimg1 {
        list-style-image: url("../assets/images/head.jpg");
    }*/

}

.font-anton {
    font-family: 'Anton', sans-serif;
}

.margin-title {
    margin-bottom: 50px;
}
/* End navbar for sm */


/*  Imported font-family) */
